.about {
  font-size: 1.4rem;
  line-height: 1.43;
  color: #5f5c5c;
  text-align: justify;
}

.program {
  margin: 0 1.5rem 1.5rem 0;
  padding: 1.5rem 2rem;
  background-color: rgba(158,152,152, .2);
  border-radius: 2.5rem;
}